---
import { Image } from 'astro:assets';
import { Calendar, Glasses } from 'lucide-react';
import headingStyles from '@/components/Heading/Heading.module.scss';
import textStyles from '@/components/Text/Text.module.scss';
import { BLOG_PLATFORM_LABELS } from '@/data/blogSchema';
import { formatBlogDate, type BlogPost } from '@/data/blog';
import { getBlogThumbnail } from '@/data/blogThumbnails';
import styles from '@/views/Blog/BlogList.module.scss';

interface Props {
  post: BlogPost;
}

const { post } = Astro.props;
const thumbnail = getBlogThumbnail(post.slug);
---

<article class={styles.BlogList__Post}>
  <a class={styles.BlogList__PostLink} href={`/blog/${post.slug}`}>
    <div class={styles.BlogList__PostMedia} aria-hidden='true'>
      <Image
        alt=''
        class={styles.BlogList__PostImage}
        decoding='async'
        height={543}
        loading='lazy'
        sizes='(max-width: 767px) calc(100vw - 2rem), (max-width: 1200px) calc((100vw - 5rem) / 2), 520px'
        src={thumbnail}
        width={724}
        widths={[360, 520, 724, 1040]}
      />
    </div>
    <span
      class={[
        styles.BlogList__Track,
        styles[`BlogList__Track_${post.platform}`],
      ].join(' ')}
    >
      {BLOG_PLATFORM_LABELS[post.platform]}
    </span>
    <h3
      class={[
        headingStyles.Heading,
        headingStyles.Heading_h4,
        styles.BlogList__PostTitle,
      ].join(' ')}
    >
      {post.title}
    </h3>
    <p
      class={[
        textStyles.Text,
        textStyles.Text_md,
        textStyles.Text_subtle,
        styles.BlogList__PostDescription,
      ].join(' ')}
    >
      {post.description}
    </p>
    {post.tags.length > 0 && (
      <div class={styles.BlogList__PostTags}>
        {post.tags.slice(0, 3).map((tag) => (
          <span class={styles.BlogList__Tag}>{tag}</span>
        ))}
      </div>
    )}
    <div class={styles.BlogList__PostMeta}>
      <span class={styles.BlogList__PostMetaItem}>
        <Calendar aria-hidden='true' size={15} strokeWidth={2} />
        <time datetime={post.date}>{formatBlogDate(post.dateValue)}</time>
      </span>
      <span class={styles.BlogList__PostMetaItem}>
        <Glasses aria-hidden='true' size={15} strokeWidth={2} />
        <span>{post.readingTime} min read</span>
      </span>
    </div>
  </a>
</article>
